<!DOCTYPE html>

<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Change Your Password</h1>
    <p>
      You have requested a password reset<br>
    </p>
    <p>
      To change your password, please click this link: <%= @password_reset_url %>
    </p>
  </body>
</html>